@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#google_translate_element {
  display: none;
}
.toggle-button {
  width: 50px;
  height: 25px;
  background-color: black;
  border: none;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  cursor: pointer;
  position: relative;
}

.toggle-circle {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle-english .toggle-circle {
  transform: translateX(0);
}

.toggle-german .toggle-circle {
  transform: translateX(25px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Wix Madefor Display,
    "Courier New", monospace;
}

.base-font {
  font-family: Wix Madefor Display;
  font-style: normal;
  font-weight: 400;
}

.base-font-heading {
  font-family: Wix Madefor Display;
  font-style: normal;
  font-weight: 600;
}

.bg-left {
  background-image: url("../src//assets/Rectangle3131.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-upper {
  background-image: url("../src//assets/Rectangle3133.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-lower {
  background-image: url("../src//assets/Rectangle31334.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-post {
  background-image: url("../src//assets/Rectangle1317.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-blog-advertise1 {
  background-image: url("../src//assets/advertise1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-blog-advertise2 {
  background-image: url("../src//assets/advertise2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }
}

@media (min-width: 1024px) and (max-width: 1140px) {
  .custom-our-story-quote {
    margin-left: 0 !important;
  }
}

@media (min-width: 1150px) and (max-width: 1400) {
  .custom-quote {
    margin-left: 22rem !important;
  }
}

@media (min-width: 1024px) and (max-width: 1140px) {
  .nav-icon-md {
    width: 7rem;
  }
}

.custom-bottom-lg-de {
  bottom: 704px;
}

.custom-bottom-lg-en {
  bottom: 734px;
}

@media (min-width: 1140px) {
  .custom-bottom-xl1-de {
    bottom: 635px;
  }
  .custom-bottom-xl1-en {
    bottom: 683px;
  }
}

@media (min-width: 1024px) and (max-width: 1140px) {
  .custom-w-our-story {
    width: 700px !important;
  }
}

@media (min-width: 1024px) and (max-width: 1140px) {
  .custom-w-16 {
    width: 16rem !important;
  }
}

@media (min-width: 1024px) and (max-width: 1140px) {
  .digital-form-custom {
    width: 530px !important;
  }
}

@media (min-width: 1024px) and (max-width: 1140px) {
  .hero-card-top {
    top: 11.5rem !important;
  }
}

@media (min-width: 1024px) and (max-width: 1140px) {
  .lg-flex-center {
    justify-content: center;
  }
}

@media (min-width: 1024px) and (max-width: 1140px) {
  .hero-card-bottom {
    bottom: 10.4rem !important;
  }
}

@media (min-width: 320px) and (max-width: 1140px) {
  .custom-col {
    flex-direction: column;
  }
}

.custom-bullet::before {
  content: "•"; /* Custom bullet symbol */
  margin-right: 8px;
  color: white;
}

.emoji-404 {
  position: relative;
  animation: mymove 2.5s infinite;
}

@keyframes mymove {
  33% {
    top: 0px;
  }
  66% {
    top: 20px;
  }
  100% {
    top: 0px;
  }
}

.check {
  border: 1px solid red;
}
