@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Wix Madefor Display,
    "Courier New", monospace;
}

.base-font {
  font-family: Wix Madefor Display;
  font-style: normal;
  font-weight: 400;
}

.base-font-heading {
  font-family: Wix Madefor Display;
  font-style: normal;
  font-weight: 600;
}

.base-color {
  color: #f49217;
}

.text-color-dark {
  color: var(--Black-75, rgba(62, 50, 50, 0.75));
}

.bg-base-color {
  background-color: #f49217;
}

.gray-text {
  color: #9d9d9d;
}

.gray-text-light {
  color: #d5d5d5;
}

.gray-text-descrption {
  color: #6c757d;
}

.h-86 {
  height: 441px;
}

.w-78 {
  width: 313px !important;
}
.w-112 {
  width: 765px;
}

.placeholder-base-color::placeholder {
  color: #f49217;
}

.bg-our-team {
  background: #f4921726;
}


.bg-subscription-features {
  background: rgba(244, 146, 23, 0.15);
}

.bg-dot-comment {
  background-color: #f81539;
}

.bg-dot-green {
  background-color: #26de81;
}

.bg-left {
  background-image: url("../src//assets/Rectangle3131.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-upper {
  background-image: url("../src//assets/Rectangle3133.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-lower {
  background-image: url("../src//assets/Rectangle31334.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-post {
  background-image: url("../src//assets/Rectangle1317.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-blog-advertise1 {
  background-image: url("../src//assets/advertise1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-blog-advertise2 {
  background-image: url("../src//assets/advertise2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-union {
  background-image: url("../src//assets/Union.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }
}

@media (min-width: 1024px) and (max-width: 1140px) {
  .custom-bottom-lg {
    bottom: 740px;
  }
}

@media (min-width: 1140px) {
  .custom-bottom-xl1 {
    bottom: 660px;
  }
}

@media (min-width: 1024px) and (max-width: 1140px) {
  .custom-w-our-story {
    width: 700px !important;
  }
}

@media (min-width: 1024px) and (max-width: 1140px) {
  .custom-w-16 {
    width: 16rem !important;
  }
}

@media (min-width: 1024px) and (max-width: 1140px) {
  .digital-form-custom {
    width: 530px !important;
  }
}

@media (min-width: 1024px) and (max-width: 1140px) {
  .hero-card-top {
    top: 11.5rem !important;
  }
}

@media (min-width: 1024px) and (max-width: 1140px) {
  .lg-flex-center {
   justify-content: center;
  }
}

@media (min-width: 1024px) and (max-width: 1140px) {
  .hero-card-bottom {
    bottom: 10.4rem !important;
  }
}

@media (min-width: 320px) and (max-width: 1140px) {
  .custom-col {
    flex-direction: column;
  }
}


.custom-bullet::before {
  content: "•"; /* Custom bullet symbol */
  margin-right: 8px;
  color: white;
}

.emoji-404 {
  position: relative;
  animation: mymove 2.5s infinite;
}

@keyframes mymove {
  33% {
    top: 0px;
  }
  66% {
    top: 20px;
  }
  100% {
    top: 0px;
  }
}
